# Node
node_modules/
npm-debug.log*

# Build outputs
dist/
dist-ssr/
*.local

# Env files — HECH QACHON git ga yuklamang!
.env
.env.local
.env.production
.env.*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
